{% extends 'template.html' %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"> {% endblock %} {% block body %}

<body class="bg">

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="container main">

        <div class="row main-text">
            <h1>Dotamusing</h1>
        </div>

        <div class="row main-text">
            <h3>Want to see some amusing statistics about your DotA profile?</h3>
        </div>

        <div class="row">
            <div class="two columns">
                <br>
            </div>
            <div class="eight columns">
                <form action="{{ url_for('on_input_field') }}" method="POST">
                    <input class="u-full-width input-field" placeholder="Enter your ID here" name="dotaID" type="text">
                </form>
            </div>
        </div>
        {% if error %}
        <div class="row error-message">
            <h5>{{ error }}</h5>
        </div>
        {% endif %}
    </div>

    <footer>
        <p class="footer-text">Made by Kurolox. This is an open source project,
            <a href="https://github.com/Kurolox/Dotamusing">and the source is on GitHub</a>. DotA 2 is a registered trademark of Valve Corporation. This uses the OpenDota
            API for fetching the data.
            <a href="https://www.opendota.com/api-keys">More info here.</a>
        </p>
    </footer>
    <!-- End Document
  ––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
{% endblock %}