{% extends 'template.html' %} {% import 'macros.html' as macro %} {% block scripts %}
<script src="{{url_for('static', filename='js/test.js')}}"></script> {% endblock %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}"> {% endblock %} {% block body %}

<body>
    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="container top-profile">

        <!-- IMG / NAME / RANK-->

        <div class="row one-third column profile-image">
            {% if profile %}
            <img class="avatar" src="{{ profile.get_avatar() }}"> {% else %}
            <img class="avatar" src="static/images/default-avatar.jpg"> {% endif %}
        </div>
        <div class="row two-thirds column">
            {% if profile %}
            <h1 class="profile-name">{{ profile.get_username() }}</h1>
            {% else %}
            <h1 class="profile-name">Undefined</h1>
            {% endif %}
            <!-- <h3 class="profile-rank">Alea jacta est.</h3> -->
        </div>
    </div>

    <div class="container main-content">
        <div class="one-half column">
            <div class="box">
                <h3 class="box-title">
                    You've played for
                </h3>
                <div class="box-content">
                    {% if profile %}
                    <div class="box-img-text">
                        <h2 class="box-flask">{{ profile.total_playtime() }} hours</h2>
                    </div>
                    {% endif %}
                    <p class="box-description"> in total, over the course of {{ profile.match_count() }} games. Your match length average is {{ profile.average_playtime()
                        }} minutes.</p>
                </div>
            </div>


            <div class="box">
                {% set least_seen_list = profile.find_least_seen_heroes()[:5] %}
                <h3 class="box-title">
                    You don't see them very often
                </h3>
                <div class="box-content">
                    <div class="box-flask image-and-text">
                        <img class="portrait-image" src="{{ least_seen_list[0][0].get_hero_portrait() }}">
                        <h2 class="box-flask">{{ least_seen_list[0][0].get_hero_name() }}</h2>
                    </div>
                    <p class="box-description"> Has been a rare sight in your games. In all of your DotA games, you've only seen it on {{ least_seen_list[0][1]
                        }} of your games ({{least_seen_list[0][1] / profile.match_count() }}% of your total games). Here's a list with other heroes you don't see a lot.
                    </p>
                    <ul class="box-list">
                        {% for least_hero in least_seen_list[1:] %}
                        <li class="box-list-element">
                            <img class="portrait-image" src="{{ least_hero[0].get_hero_portrait() }}">
                            <h5>{{ least_hero[0].get_hero_name() }} ({{least_hero[1]}} games, {{ least_hero[1] / profile.match_count() }}%)</h4>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>



        <div class="one-half column">
            <div class="box">
                <h3 class="box-title">
                    Remember the last time you saw...
                </h3>
                <div class="box-content">
                    {% if profile %} {% set rarest_hero_list = profile.find_rarest_heroes()[-5:][::-1] %}
                    <div class="box-flask image-and-text">
                        <img class="portrait-image" src="{{ rarest_hero_list[0].get_hero_portrait() }}">
                        <h2 class="box-flask">{{ rarest_hero_list[0].get_hero_name() }}?</h2>
                    </div>
                    {% set most_recent_match = profile.get_recent_match(rarest_hero_list[0]) %}
                    <p class="box-description"> The last time you saw it on one of your games was on {{ most_recent_match.get_match_date() }}, and that
                        was {{ most_recent_match.get_match_time_difference() }} days ago!
                        <a href="https://www.opendota.com/matches/{{ most_recent_match.get_match_ID() }}">Here's the link to the game.</a>
                    </p>
                    <ul class="box-list">
                        {% for hero in rarest_hero_list[1:] %}
                        <a href="{{profile.get_recent_match(hero).get_opendota_link()}}">
                            <li class="box-list-element">
                                <img class="portrait-image" src="{{ hero.get_hero_portrait() }}">
                                <h5>{{ hero.get_hero_name() }} ({{ profile.get_recent_match(hero).get_match_time_difference()
                                    }} days)</h4>
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p class="footer-text">Made by Kurolox. This is an open source project,
            <a href="https://github.com/Kurolox/Dotamusing">and the source is on GitHub</a>. DotA 2 is a registered trademark of Valve Corporation. This uses the OpenDota
            API for fetching the data.
            <a href="https://www.opendota.com/api-keys">More info here.</a>
        </p>
    </footer>
</body>
<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% endblock %}