<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Dotamusing</title>
  <meta name="description" content="Find curious statistics about your DotA profile">
  <meta name="author" content='Carlos "Kurolox" Gomez'>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}"> {% block css %} {% endblock %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png')}}">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block scripts %} {% endblock %}


</head>


{% block body %} {% endblock %}


</html>