body {
    background-color: #1F2421;
}

/* STICKY FOOTER */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.footer-text {
    margin: auto;
    color: #DCE1DE;
    text-align: center;
}

/* STICKY FOOTER END */

/* TOP PROFILE DISPLAY */

.top-profile {
    margin: 2% auto;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #216869;
    color: #DCE1DE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
}
.profile-rank {
    margin-bottom: 0;
}

/* TOP PROFILE DISPLAY END */

/* MAIN CONTENT */

.left-column, .right-column {
    display: flex;
    flex-direction: column;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #216869;
    color: #DCE1DE;
    margin-bottom: 6%;
}

.box-title {
    background-color: #49A078;
    padding: 1.5rem;
    margin-bottom: 0;
}

.box-content {
    padding: 1.5rem;
    margin-bottom: 0;
}

.box-flask {
    text-align: center;
}
/* MAIN CONTENT END */

/* FIX FOR SMALL DISPLAYS */

@media (max-width: 550px) {
    .top-profile {
        margin-bottom: 5%;
    }
}