<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Dotamusing</title>
    <meta name="description" content="Find curious statistics about your DotA profile">
    <meta name="author" content='Carlos "Kurolox" Gomez'>

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customProfile.css')}}">
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png')}}">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="container">
        <div class="row topseparator">
            <div class="two columns">
                {% if profile %}
                <img src="{{ profile['profile']['avatarfull'] }}" />
                {% else %}
                <p>Couldn't load profile image</p>
                {% endif %}
            </div>

            <div class="one column">
                <br>
            </div>
            <div class="three columns">
                {% if profile %}
                <h2>{{ profile["profile"]["personaname"] }}</h2>
                {% endif %}
            </div>
        </div>
    </div>

    <footer>
        <div>
            <p>Made by Kurolox. This is an open source project,
                <a href="https://github.com/Kurolox/Dotamusing">and the source is on GitHub</a>. DotA 2 is a registered trademark of Valve Corporation.</p>
        </div>
    </footer>
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>